name: Deploy curl-http3-quic
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  deploy:
    name: Push to Gemfury and Dockerhub
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build Image and Deploy
        run: |
          docker build -f Dockerfile --target deploy --build-arg GFKEY_PUSH=$GFKEY_PUSH .
          docker build -f Dockerfile --target curl --build-arg GFKEY_PUSH=$GFKEY_PUSH -t compscidr/curl-http3-quic:${{ github.sha }} .
          docker push compscidr/curl-http3-quic:${{ github.sha }}
          docker tag compscidr/curl-http3-quic:${{ github.sha }} compscidr/curl-http3-quic:latest
          docker push compscidr/curl-http3-quic:latest
        env:
          GFKEY_PUSH: ${{ secrets.GFKEY_PUSH }}